/* Whole document: */
body{
  font-family: Helvetica;
  font-size: 32pt;
  color: #FFFFFF;
}
/* Headers */
h1,h2{
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 75px;
  text-align: center;
  color: #FFFFFF;
}